:root {
    --primary-color: #007BFF;
    --primary-hover-color: #0056b3; 
    --secondary-color: #6c757d;
    --background-color: #f5f7fa;
    --text-color: #333;
    --text-light-color: #555;
    --white: #fff;
}